*{
    font-family: 'Rubik', sans-serif;
}
body{
    margin: 1rem;
    background-color: lightyellow;
}
h1{
    text-align: center;
}
canvas{
    margin: auto;
}
.weather-icon{
    margin: auto;
    text-align: center;
}
.city{
    float: left;
}
.mode{
    float: right;
}
button{
    font-size: 14pt;
    color: white;
    background: grey;
    border: 0px;
    border-radius: 3pt;
    padding: 0.75rem;
}
button:hover{
    background: darkgrey;
}
button.active{
    background: green;
    font-weight: bold;
}
button.active:hover{
    background: darkgreen;
}